{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="content" placeholder="What's on your mind?"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    {% endif %}
    <div class="all-posts">
        {% for post in posts %}
            <div class="post">
                <div class="post-user">
                    <span class="post-username">{{ post.user.username }}</span>
                </div>
                <div class="post-content">
                    <p>{{ post.content }}</p>
                </div>
                <div class="post-footer">
                    <span class="post-timestamp">{{ post.timestamp }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}